/*ヒーロー画像*/
.hero {
    padding: 70px 0;
    margin: 20px 0;
    text-align: center;
    font-size: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero.index {
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),
                      url('images/Hakkei.jpg');
}