/*ヒーロー画像*/
.hero {
    padding: 70px 0;
    margin: 20px 0;
    text-align: center;
    font-size: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero.index {
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),
                      url('images/Hakata.jpg');
}

table.content {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.95rem;
}

table.content th, table.content td {
    border: 1px solid #cccccc;
    padding: 8px 12px;
    text-align: center;
}

table.content th {
    background-color: #fafafa;
    font-weight: bold;
}

table.content tr {
    background-color: #fafafa;
}

.info {
  margin: 0;
  padding: 0;
  max-width: 900px;
}

.info__row {
    padding-bottom: 15px;
}

.info dt {
  font-weight: bold;
  margin: 0 0 4px 0;
  font-size: 18px;
}

.info dd {
  margin-bottom: 15px;
  line-height: 1.75;
  word-break: break-word; /* 長い文字列でもはみ出しにくい */
}

.info__list {
  margin: 0;
  padding-left: 1.2em;
}
